<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% stylesheets filter="cssrewrite" output="css/compiled/app.css"
    "@foundation_scss"
    "@AppBundle/Resources/public/all_pages/scss/*" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
{% block body %}{% endblock %}

{#End of file scripts#}
{% javascripts '@jquery' '@foundation_js' '@AppBundle/Resources/public/all_pages/js/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
